# Handling Duplicate Values

In [2]:
import pandas as pd

In [28]:
data = pd.read_excel("duplicate_values.xlsx")
data

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500,8450,1,6500,8450
1,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500,8450,1,6500,8450
2,139375,Dannana Jhammi,2020-01-11,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,8500,11050,3,25500,33150
3,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000,9100,2,14000,18200
4,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000,9100,2,14000,18200
5,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000,9100,2,14000,18200
6,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550,8515,3,19650,25545
7,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650,9945,4,30600,39780
8,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650,9945,4,30600,39780
9,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150,1495,2,2300,2990
10,139380,Suvankar Chakraborty,2020-01-11,Order,USB Backlight Keyboard,Keyboard,Dell,850,1105,3,2550,3315
11,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650,845,2,1300,1690
12,139382,Rahul Kumar Prajapati,2020-01-13,Order,"15"" LCD Dsipaly",Monitor,Dell,7500,9750,1,7500,9750

#### To find duplicate values.

In [18]:
data["Customer_Name"].duplicated().sum()

4

#### To drop duplicate values.

In [22]:
data.drop_duplicates()

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500,8450,1,6500,8450
2,139375,Dannana Jhammi,2020-01-11,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,8500,11050,3,25500,33150
3,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000,9100,2,14000,18200
6,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550,8515,3,19650,25545
7,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650,9945,4,30600,39780
9,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150,1495,2,2300,2990
10,139380,Suvankar Chakraborty,2020-01-11,Order,USB Backlight Keyboard,Keyboard,Dell,850,1105,3,2550,3315
11,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650,845,2,1300,1690
12,139382,Rahul Kumar Prajapati,2020-01-13,Order,"15"" LCD Dsipaly",Monitor,Dell,7500,9750,1,7500,9750

To remove duplicates by column.

In [32]:
data2 = data.drop_duplicates("Order_Number")
data2

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500,8450,1,6500,8450
2,139375,Dannana Jhammi,2020-01-11,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,8500,11050,3,25500,33150
3,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000,9100,2,14000,18200
6,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550,8515,3,19650,25545
7,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650,9945,4,30600,39780
9,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150,1495,2,2300,2990
10,139380,Suvankar Chakraborty,2020-01-11,Order,USB Backlight Keyboard,Keyboard,Dell,850,1105,3,2550,3315
11,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650,845,2,1300,1690
12,139382,Rahul Kumar Prajapati,2020-01-13,Order,"15"" LCD Dsipaly",Monitor,Dell,7500,9750,1,7500,9750