# Working with Missing Data

In [1]:
import pandas as pd

In [10]:
data = pd.read_excel("missing_data.xlsx")
data

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450,1,6500,8450
1,139375,Dannana Jhammi,2020-01-11,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,NaN,11050,3,25500,33150
2,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100,2,14000,18200
3,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515,3,19650,25545
4,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,NaN,9945,4,30600,39780
5,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150.0,1495,2,2300,2990
6,139380,Suvankar Chakraborty,2020-01-11,Order,USB Backlight Keyboard,Keyboard,Dell,NaN,1105,3,2550,3315
7,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650.0,845,2,1300,1690
8,139382,Rahul Kumar Prajapati,2020-01-13,Order,"15"" LCD Dsipaly",Monitor,Dell,NaN,9750,1,7500,9750

In [3]:
data.isnull().sum()

Order_Number     0
Customer_Name    0
Order_Date       0
Status           0
Product          0
Category         0
Brand            0
Cost             4
Sales            0
Quantity         0
Total_Cost       0
Total_Sales      0
dtype: int64

#### To drop all null values

In [4]:
data.dropna()

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450,1,6500,8450
2,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100,2,14000,18200
3,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515,3,19650,25545
5,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150.0,1495,2,2300,2990
7,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650.0,845,2,1300,1690

#### To fill all null values

In [5]:
import numpy as np

In [6]:
data.replace(np.nan, "python")

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450,1,6500,8450
1,139375,Dannana Jhammi,2020-01-11,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,python,11050,3,25500,33150
2,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100,2,14000,18200
3,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515,3,19650,25545
4,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,python,9945,4,30600,39780
5,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150.0,1495,2,2300,2990
6,139380,Suvankar Chakraborty,2020-01-11,Order,USB Backlight Keyboard,Keyboard,Dell,python,1105,3,2550,3315
7,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650.0,845,2,1300,1690
8,139382,Rahul Kumar Prajapati,2020-01-13,Order,"15"" LCD Dsipaly",Monitor,Dell,python,9750,1,7500,9750

#### To fill null numeric values by column

In [7]:
data["Cost"] = data["Cost"].replace(np.nan,4370.0)
data

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450,1,6500,8450
1,139375,Dannana Jhammi,2020-01-11,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,4370.0,11050,3,25500,33150
2,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100,2,14000,18200
3,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515,3,19650,25545
4,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,4370.0,9945,4,30600,39780
5,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150.0,1495,2,2300,2990
6,139380,Suvankar Chakraborty,2020-01-11,Order,USB Backlight Keyboard,Keyboard,Dell,4370.0,1105,3,2550,3315
7,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650.0,845,2,1300,1690
8,139382,Rahul Kumar Prajapati,2020-01-13,Order,"15"" LCD Dsipaly",Monitor,Dell,4370.0,9750,1,7500,9750

#### To find the mean value in numeric data

In [8]:
data["Cost"].mean()

4370.0

#### Fill null value by backward fill

In [17]:
data.fillna(method="ffill")

C:\Users\onlin\AppData\Local\Temp\ipykernel_18208\2321864255.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450,1,6500,8450
1,139375,Dannana Jhammi,2020-01-11,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,6500.0,11050,3,25500,33150
2,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100,2,14000,18200
3,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515,3,19650,25545
4,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,6550.0,9945,4,30600,39780
5,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150.0,1495,2,2300,2990
6,139380,Suvankar Chakraborty,2020-01-11,Order,USB Backlight Keyboard,Keyboard,Dell,1150.0,1105,3,2550,3315
7,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650.0,845,2,1300,1690
8,139382,Rahul Kumar Prajapati,2020-01-13,Order,"15"" LCD Dsipaly",Monitor,Dell,650.0,9750,1,7500,9750

#### Fill null value by forward fill

In [18]:
data.fillna(method="bfill")

C:\Users\onlin\AppData\Local\Temp\ipykernel_18208\1981131366.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="bfill")

,Order_Number,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales
0,139374,Adhir Samal,2020-01-11,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450,1,6500,8450
1,139375,Dannana Jhammi,2020-01-11,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,7000.0,11050,3,25500,33150
2,139376,Vipin Kumar,2020-01-11,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100,2,14000,18200
3,139377,Ranjeet Kumar,2020-01-11,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515,3,19650,25545
4,139378,Sajal Singhal,2020-01-11,Order,Standard ATX motherboard,MotherBoard,Gigabyte,1150.0,9945,4,30600,39780
5,139379,Akhilesh Kumar,2020-01-11,Order,Compact with 1 Fan,Cabinet,Asus,1150.0,1495,2,2300,2990
6,139380,Suvankar Chakraborty,2020-01-11,Order,USB Backlight Keyboard,Keyboard,Dell,650.0,1105,3,2550,3315
7,139381,Suvankar Adhikary,2020-01-12,Order,Ergonomic Mouse,Mouse,Samsung,650.0,845,2,1300,1690
8,139382,Rahul Kumar Prajapati,2020-01-13,Order,"15"" LCD Dsipaly",Monitor,Dell,NaN,9750,1,7500,9750